header {

    /*general*/
    @media screen {
        transition: all 0.5s;
        background-color: white;
        position: relative;
        height: rem(80);

        #logo {
            position: absolute;
            top: rem(10);
            right: rem(20);
            height: 70%;
            z-index: 100;
        }

        #contact-links {
            position: absolute;
            top: rem(0);
            left: rem(20);
            display: flex;
            flex-direction: column;
            margin-top: rem(10);

            a {
                text-decoration: none;
                color: rgb(51, 50, 50);
                font-size: rem(14);
                font-weight: 500;
                padding-bottom: rem(5);

                img {
                    filter: invert(14%) sepia(25%) saturate(10%) hue-rotate(10deg) brightness(100%) contrast(87%);
                    height: rem(14);
                    margin-right: rem(4);
                    margin-bottom: rem(-2.5);
                }
            }

            a:hover {
                color: var(--main-color);

                img {
                    filter: invert(67%) sepia(94%) saturate(727%) hue-rotate(0deg) brightness(105%) contrast(103%);
                }
            }
        }

        #leistungen-link-small {
            display: none;
        }

        @media (pointer: coarse) {
            #leistungen-link {
                display: none;
            }

            #leistungen-link-small {
                display: inline-block;
            }
        }

        .nav-bar {
            a {
                margin: 0 rem(2);

                display: inline-block;

                text-decoration: none;
                font-size: rem(16);
                font-weight: 400;

                color: rgb(26, 26, 26);
                background-color: white;

                padding: rem(8) rem(20);

                border: rem(1) solid rgba(255, 200, 1, 0);

                cursor: pointer;
            }

            a:hover,
            .active-hover {
                border: rem(1) solid lightgrey;
            }

            .active-page {
                border: rem(1) solid var(--main-color);
            }
        }

        .drop-down {
            z-index: 300;
            position: absolute;
            display: grid;
            text-align: center;
            grid-template-columns: repeat(1fr);
            background-color: white;
            border: rem(1) solid lightgrey;

            a {
                display: inline-block;

                text-decoration: none;
                font-size: rem(16);
                font-weight: 400;

                color: rgb(26, 26, 26);
                background-color: white;

                padding: rem(8) rem(20);

                border: rem(1) solid rgba(255, 200, 1, 0);

                cursor: pointer;
            }

            a:hover {
                border: rem(1) solid lightgrey;
            }

            .seperator {
                border-bottom: rem(1) solid lightgray;
            }

            .active-page {
                border: rem(1) solid var(--main-color);
            }
        }

        #hamburger {
            display: none;
        }
    }

    @media screen and (max-width: rem(1024)) {
        #contact-links {
            margin-top: rem(10);
            left: rem(10);
            align-items: center;

            a {
                img {
                    height: rem(20);
                }

                span {
                    display: none;
                }
            }
        }
    }

    /*small*/
    @media screen and (max-width: rem(768)) {
        height: rem(50);

        #contact-links {
            flex-direction: row;
            margin-top: rem(15);

            a {
                margin-right: rem(10);
            }
        }

        .nav-bar {
            top: rem(-215);
            z-index: 200;
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            background-color: white;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        .nav-bar-active {
            top: rem(50);
        }

        #hamburger {
            z-index: 400;
            display: block;
            cursor: pointer;

            .bar {
                display: block;
                background-color: black;
                border-radius: rem(2);
                width: rem(25);
                height: rem(3);
                margin: rem(5) auto;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
        }

        .hamburger-active {
            .bar:nth-child(2) {
                opacity: 0;
            }

            .bar:nth-child(1) {
                opacity: 1;
                transform: translateY(rem(8)) rotate(45deg);
            }

            .bar:nth-child(3) {
                opacity: 1;
                transform: translateY(rem(-8)) rotate(-45deg);
            }
        }

        .drop-down {
            left: rem(2);
            right: rem(2);

            a {
                background-color: rgba(216, 216, 216, 0.147);
            }
        }
    }
}

#scroll-to-top {
    position: absolute;
    top: 0;
    right:0;
    height: 100%;

    &::before {
        content: '';
        display: block;
        height: 101vh;
        pointer-events: none;
    }

    a {
        position: sticky;
        z-index: 1000;
        top: 90vh;
        margin-right: rem(30);
        cursor: pointer;
        font-size: rem(20);
        display: block;
        border-radius: 25%;
        width: rem(40);
        height: rem(40);
        background-color: var(--main-color);
        box-shadow: rem(1) rem(1) rem(5) rem(2) rgba(0, 0, 0, 0.5);

        @media screen and (max-width: rem(450)) {
            top: 85vh;
        }

        span {
            background-color: white;
            width: rem(20);
            height: rem(2.5);
            display: block;
            position: absolute;
            top: 48%;
            box-shadow: 0 0 rem(5) rem(0.5) rgba(0, 0, 0, 0.5);
        }
        .left-span {
            right: 38%;
            transform: rotate(-55deg);
        }
        .right-span {
            left: 38%;
            transform: rotate(55deg);
        }
    }
}