:root {
  --main-color: rgb(255, 202, 1);
  --secondary-color: rgb(40, 40, 40);
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif, Arial, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section, .flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

body {
  min-height: 100vh;
  position: relative;
}

header {
  border-bottom: 0.4375rem solid var(--main-color);
}

main {
  padding: 1.25rem;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 1.25rem;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}
main h1 {
  font-size: 3.125rem;
  padding: 1.25rem 1.25rem;
  margin: 0.625rem -rem(20) 1.25rem -rem(20);
  text-align: center;
  color: white;
  background-color: var(--secondary-color);
  border-left: 0;
  border-right: 0;
  width: 100%;
}
main .ref-with-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 0.4375rem solid var(--main-color);
  border-radius: 2.5rem;
  overflow: hidden;
  max-width: 93.75rem;
  height: 12.5rem;
  margin: 1.25rem 0;
  background-color: white;
}
main .ref-with-text .logo {
  justify-content: center;
  text-align: center;
}
main .ref-with-text .logo img {
  height: 8.125rem;
  transition: height 0.15s;
}
main .ref-with-text .logo img:hover {
  height: 8.75rem;
}
main .ref-with-text .logo a {
  text-decoration: none;
  font-size: 1.875rem;
  transition: font-size 0.15s;
  color: var(--secondary-color);
}
main .ref-with-text .logo a:hover {
  font-size: 2.1875rem;
}
main .ref-with-text .refrence-text {
  height: 100%;
  line-height: inherit;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .ref-with-text .refrence-text p {
  margin: 1.25rem;
  color: black;
}
main .ref-with-text .refrence-text p .line-break {
  display: none;
}
@media screen and (max-width: 76.875rem) {
  main .ref-with-text {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 37.5rem;
    height: 37.5rem;
    border-radius: 18.75rem;
  }
  main .ref-with-text .logo h2 {
    margin-bottom: -rem(100);
  }
  main .ref-with-text .refrence-text {
    text-align: center;
  }
  main .ref-with-text .refrence-text p {
    text-align: center;
    margin-top: -rem(20);
  }
  main .ref-with-text .refrence-text p .line-break {
    display: block;
  }
  main :nth-child(2) .logo img {
    margin-bottom: -rem(100);
  }
  main :nth-child(3) .logo {
    order: -1;
  }
  main :nth-child(3) .logo img {
    margin-bottom: -rem(50);
    height: 10.625rem;
  }
  main :nth-child(3) .logo img:hover {
    height: 11.875rem;
  }
  main :nth-child(3) .refrence-text {
    order: 1;
  }
  main :nth-child(3) .refrence-text p {
    margin-top: -rem(100);
  }
}
@media screen and (max-width: 43.75rem) {
  main .ref-with-text {
    width: 18.75rem;
    height: 56.25rem;
    border-radius: 9.375rem;
  }
  main :nth-child(2) .logo img {
    margin-bottom: -rem(50);
    height: auto;
    width: 15.625rem;
    transition: width 0.15s;
  }
  main :nth-child(2) .logo img:hover {
    height: auto;
    width: 16.875rem;
  }
}
main #ref-no-text {
  /*general*/
  /*xtra-small*/
}
@media screen {
  main #ref-no-text {
    width: 100%;
    font-size: 0.625rem;
    flex-direction: column;
    margin: 3.125rem auto;
  }
  main #ref-no-text a {
    text-decoration: none;
  }
  main #ref-no-text a:hover {
    text-decoration: underline;
    text-decoration-color: white;
  }
  main #ref-no-text h1 {
    font-size: 5em;
    color: white;
    margin: 2.5rem 0;
  }
  main #ref-no-text #scroll-container {
    width: 100%;
    height: 6.25rem;
    padding: 2.5rem 0;
    border-style: solid;
    border-color: white;
    border-radius: 0.9375rem;
    overflow: hidden;
    background-color: white;
    position: relative;
  }
  main #ref-no-text #scroll-container .scroll-logos {
    position: absolute;
    height: 7.1875rem;
    display: flex;
    left: 100%;
    top: 2.5rem;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    animation: scroll-logos 25s infinite linear;
  }
  main #ref-no-text #scroll-container .scroll-logos img {
    height: 6.25rem;
    padding: 0 3.125rem;
    transition: transform 0.2s;
  }
  main #ref-no-text #scroll-container .scroll-logos img:hover {
    transform: scale(1.1);
  }
  main #ref-no-text #scroll-container .scroll-logos2 {
    animation-delay: 12.5s;
  }
  @keyframes scroll-logos {
    to {
      transform: translateX(-200%);
    }
  }
}
@media screen and (max-width: 30rem) {
  main #ref-no-text #scroll-container {
    width: 80%;
    padding: 1.25rem;
    border-style: solid;
    border-color: white;
    border-radius: 0.625rem;
    overflow: hidden;
    background-color: white;
  }
  main #ref-no-text #scroll-container .scroll-logos {
    top: 1.25rem;
  }
  main #ref-no-text #scroll-container .scroll-logos img {
    height: 3.75rem;
  }
  main #ref-no-text #scroll-container .scroll-logos img:hover {
    transform: scale(1.15);
  }
}