:root {
  --main-color: rgb(255, 202, 1);
  --secondary-color: rgb(40, 40, 40);
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif, Arial, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section, .flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

body {
  min-height: 100vh;
  position: relative;
}

header {
  /*general*/
  /*small*/
}
@media screen {
  header {
    transition: all 0.5s;
    background-color: white;
    position: relative;
    height: 5rem;
  }
  header #logo {
    position: absolute;
    top: 0.625rem;
    right: 1.25rem;
    height: 70%;
    z-index: 100;
  }
  header #contact-links {
    position: absolute;
    top: 0rem;
    left: 1.25rem;
    display: flex;
    flex-direction: column;
    margin-top: 0.625rem;
  }
  header #contact-links a {
    text-decoration: none;
    color: rgb(51, 50, 50);
    font-size: 0.875rem;
    font-weight: 500;
    padding-bottom: 0.3125rem;
  }
  header #contact-links a img {
    filter: invert(14%) sepia(25%) saturate(10%) hue-rotate(10deg) brightness(100%) contrast(87%);
    height: 0.875rem;
    margin-right: 0.25rem;
    margin-bottom: -0.15625rem;
  }
  header #contact-links a:hover {
    color: var(--main-color);
  }
  header #contact-links a:hover img {
    filter: invert(67%) sepia(94%) saturate(727%) hue-rotate(0deg) brightness(105%) contrast(103%);
  }
  header #leistungen-link-small {
    display: none;
  }
}
@media screen and (pointer: coarse) {
  header #leistungen-link {
    display: none;
  }
  header #leistungen-link-small {
    display: inline-block;
  }
}
@media screen {
  header .nav-bar a {
    margin: 0 0.125rem;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(26, 26, 26);
    background-color: white;
    padding: 0.5rem 1.25rem;
    border: 0.0625rem solid rgba(255, 200, 1, 0);
    cursor: pointer;
  }
  header .nav-bar a:hover,
  header .nav-bar .active-hover {
    border: 0.0625rem solid lightgrey;
  }
  header .nav-bar .active-page {
    border: 0.0625rem solid var(--main-color);
  }
  header .drop-down {
    z-index: 300;
    position: absolute;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(1fr);
    background-color: white;
    border: 0.0625rem solid lightgrey;
  }
  header .drop-down a {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(26, 26, 26);
    background-color: white;
    padding: 0.5rem 1.25rem;
    border: 0.0625rem solid rgba(255, 200, 1, 0);
    cursor: pointer;
  }
  header .drop-down a:hover {
    border: 0.0625rem solid lightgrey;
  }
  header .drop-down .seperator {
    border-bottom: 0.0625rem solid lightgray;
  }
  header .drop-down .active-page {
    border: 0.0625rem solid var(--main-color);
  }
  header #hamburger {
    display: none;
  }
}
@media screen and (max-width: 64rem) {
  header #contact-links {
    margin-top: 0.625rem;
    left: 0.625rem;
    align-items: center;
  }
  header #contact-links a img {
    height: 1.25rem;
  }
  header #contact-links a span {
    display: none;
  }
}
@media screen and (max-width: 48rem) {
  header {
    height: 3.125rem;
  }
  header #contact-links {
    flex-direction: row;
    margin-top: 0.9375rem;
  }
  header #contact-links a {
    margin-right: 0.625rem;
  }
  header .nav-bar {
    top: -13.4375rem;
    z-index: 200;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }
  header .nav-bar-active {
    top: 3.125rem;
  }
  header #hamburger {
    z-index: 400;
    display: block;
    cursor: pointer;
  }
  header #hamburger .bar {
    display: block;
    background-color: black;
    border-radius: 0.125rem;
    width: 1.5625rem;
    height: 0.1875rem;
    margin: 0.3125rem auto;
    transition: all 0.3s ease-in-out;
  }
  header .hamburger-active .bar:nth-child(2) {
    opacity: 0;
  }
  header .hamburger-active .bar:nth-child(1) {
    opacity: 1;
    transform: translateY(0.5rem) rotate(45deg);
  }
  header .hamburger-active .bar:nth-child(3) {
    opacity: 1;
    transform: translateY(-0.5rem) rotate(-45deg);
  }
  header .drop-down {
    left: 0.125rem;
    right: 0.125rem;
  }
  header .drop-down a {
    background-color: rgba(216, 216, 216, 0.147);
  }
}

#scroll-to-top {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
#scroll-to-top::before {
  content: "";
  display: block;
  height: 101vh;
  pointer-events: none;
}
#scroll-to-top a {
  position: sticky;
  z-index: 1000;
  top: 90vh;
  margin-right: 1.875rem;
  cursor: pointer;
  font-size: 1.25rem;
  display: block;
  border-radius: 25%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--main-color);
  box-shadow: 0.0625rem 0.0625rem 0.3125rem 0.125rem rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 28.125rem) {
  #scroll-to-top a {
    top: 85vh;
  }
}
#scroll-to-top a span {
  background-color: white;
  width: 1.25rem;
  height: 0.15625rem;
  display: block;
  position: absolute;
  top: 48%;
  box-shadow: 0 0 0.3125rem 0.03125rem rgba(0, 0, 0, 0.5);
}
#scroll-to-top a .left-span {
  right: 38%;
  transform: rotate(-55deg);
}
#scroll-to-top a .right-span {
  left: 38%;
  transform: rotate(55deg);
}

footer {
  /*general*/
  /*small*/
}
@media screen {
  footer {
    position: absolute;
    bottom: -2.9375rem;
    left: 0;
    right: 0;
    padding: 0.9375rem 1.25rem;
    background-color: var(--main-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    color: black;
  }
  footer a {
    margin: 0 1.25rem;
    color: black;
    text-decoration: none;
  }
  footer a:hover {
    text-decoration: underline;
  }
  footer p {
    position: absolute;
    right: 1.25rem;
  }
}
@media screen and (max-width: 52.5rem) {
  footer p {
    position: relative;
    margin: 0 1.25rem;
  }
}

header {
  border-bottom: 0.4375rem solid var(--main-color);
}

main {
  padding: 1.25rem;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 1.25rem;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}
main h1 {
  font-size: 3.125rem;
  padding: 1.25rem 1.25rem;
  margin: 0.625rem -1.25rem 1.25rem -1.25rem;
  text-align: center;
  color: white;
  background-color: var(--secondary-color);
  border-left: 0;
  border-right: 0;
  width: 100%;
}
main .ref-with-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 0.4375rem solid var(--main-color);
  border-radius: 2.5rem;
  overflow: hidden;
  max-width: 93.75rem;
  height: 12.5rem;
  margin: 1.25rem 0;
  background-color: white;
}
main .ref-with-text .logo {
  justify-content: center;
  text-align: center;
}
main .ref-with-text .logo img {
  height: 8.125rem;
  transition: height 0.15s;
}
main .ref-with-text .logo img:hover {
  height: 8.75rem;
}
main .ref-with-text .logo a {
  text-decoration: none;
  font-size: 1.875rem;
  transition: font-size 0.15s;
  color: var(--secondary-color);
}
main .ref-with-text .logo a:hover {
  font-size: 2.1875rem;
}
main .ref-with-text .refrence-text {
  height: 100%;
  line-height: inherit;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .ref-with-text .refrence-text p {
  margin: 1.25rem;
  color: black;
}
main .ref-with-text .refrence-text p .line-break {
  display: none;
}
@media screen and (max-width: 76.875rem) {
  main .ref-with-text {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 37.5rem;
    height: 37.5rem;
    border-radius: 18.75rem;
  }
  main .ref-with-text .logo h2 {
    margin-bottom: -6.25rem;
  }
  main .ref-with-text .refrence-text {
    text-align: center;
  }
  main .ref-with-text .refrence-text p {
    text-align: center;
    margin-top: -1.25rem;
  }
  main .ref-with-text .refrence-text p .line-break {
    display: block;
  }
  main :nth-child(2) .logo img {
    margin-bottom: -6.25rem;
  }
  main :nth-child(3) .logo {
    order: -1;
  }
  main :nth-child(3) .logo img {
    margin-bottom: -3.125rem;
    height: 10.625rem;
  }
  main :nth-child(3) .logo img:hover {
    height: 11.875rem;
  }
  main :nth-child(3) .refrence-text {
    order: 1;
  }
  main :nth-child(3) .refrence-text p {
    margin-top: -6.25rem;
  }
}
@media screen and (max-width: 43.75rem) {
  main .ref-with-text {
    width: 18.75rem;
    height: 56.25rem;
    border-radius: 9.375rem;
  }
  main :nth-child(2) .logo img {
    margin-bottom: -3.125rem;
    height: auto;
    width: 15.625rem;
    transition: width 0.15s;
  }
  main :nth-child(2) .logo img:hover {
    height: auto;
    width: 16.875rem;
  }
}
main #ref-no-text {
  /*general*/
  /*xtra-small*/
}
@media screen {
  main #ref-no-text {
    width: 100%;
    font-size: 0.625rem;
    flex-direction: column;
    margin: 3.125rem auto;
  }
  main #ref-no-text a {
    text-decoration: none;
  }
  main #ref-no-text a:hover {
    text-decoration: underline;
    text-decoration-color: white;
  }
  main #ref-no-text h1 {
    font-size: 3.125rem;
    color: white;
    margin: 2.5rem 0;
  }
  main #ref-no-text #scroll-container {
    width: 100%;
    height: 6.25rem;
    padding: 2.5rem 0;
    border-style: solid;
    border-color: white;
    border-radius: 0.9375rem;
    overflow: hidden;
    background-color: white;
    position: relative;
  }
  main #ref-no-text #scroll-container .scroll-logos {
    position: absolute;
    height: 7.1875rem;
    display: flex;
    left: 100%;
    top: 2.5rem;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    animation: scroll-logos 25s infinite linear;
  }
  main #ref-no-text #scroll-container .scroll-logos img {
    height: 6.25rem;
    padding: 0 3.125rem;
    transition: transform 0.2s;
  }
  main #ref-no-text #scroll-container .scroll-logos img:hover {
    transform: scale(1.1);
  }
  main #ref-no-text #scroll-container .scroll-logos2 {
    animation-delay: 12.5s;
  }
  @keyframes scroll-logos {
    to {
      transform: translateX(-200%);
    }
  }
}
@media screen and (max-width: 30rem) {
  main #ref-no-text #scroll-container {
    width: 80%;
    padding: 1.25rem;
    border-style: solid;
    border-color: white;
    border-radius: 0.625rem;
    overflow: hidden;
    background-color: white;
  }
  main #ref-no-text #scroll-container .scroll-logos {
    top: 1.25rem;
  }
  main #ref-no-text #scroll-container .scroll-logos img {
    height: 3.75rem;
  }
  main #ref-no-text #scroll-container .scroll-logos img:hover {
    transform: scale(1.15);
  }
}