header {
  /*general*/
  /*small*/
}
@media screen {
  header {
    transition: all 0.5s;
    background-color: white;
    position: relative;
    height: 80px;
  }
  header #logo {
    position: absolute;
    top: 10px;
    right: 20px;
    height: 70%;
    z-index: 100;
  }
  header #contact-links {
    position: absolute;
    top: 0px;
    left: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  header #contact-links a {
    text-decoration: none;
    color: rgb(51, 50, 50);
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 5px;
  }
  header #contact-links a img {
    filter: invert(14%) sepia(25%) saturate(10%) hue-rotate(10deg) brightness(100%) contrast(87%);
    height: 1.4rem;
    margin-right: 4px;
    margin-bottom: -2.5px;
  }
  header #contact-links a:hover {
    color: var(--main-color);
  }
  header #contact-links a:hover img {
    filter: invert(67%) sepia(94%) saturate(727%) hue-rotate(0deg) brightness(105%) contrast(103%);
  }
  header .nav-bar a {
    margin: 0 2px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(26, 26, 26);
    background-color: white;
    padding: 8px 20px;
    border: 1px solid rgba(255, 200, 1, 0);
    cursor: pointer;
  }
  header .nav-bar a:hover,
  header .nav-bar .active-hover {
    border: 1px solid lightgrey;
  }
  header .nav-bar .active-page {
    border: 1px solid var(--main-color);
  }
  header .drop-down {
    z-index: 300;
    position: absolute;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(1fr);
    background-color: white;
    border: 1px solid lightgrey;
  }
  header .drop-down a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: rgb(26, 26, 26);
    background-color: white;
    padding: 8px 20px;
    border: 1px solid rgba(255, 200, 1, 0);
    cursor: pointer;
  }
  header .drop-down a:hover {
    border: 1px solid lightgrey;
  }
  header .drop-down .seperator {
    border-bottom: 1px solid lightgray;
  }
  header .drop-down .active-page {
    border: 1px solid var(--main-color);
  }
  header #hamburger {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  header #contact-links {
    margin-top: 10px;
    left: 10px;
    align-items: center;
  }
  header #contact-links a img {
    height: 2rem;
  }
  header #contact-links a span {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  header {
    height: 50px;
  }
  header #contact-links {
    flex-direction: row;
    margin-top: 15px;
  }
  header #contact-links a {
    margin-right: 10px;
  }
  header .nav-bar {
    top: -215px;
    z-index: 200;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }
  header .nav-bar-active {
    top: 50px;
  }
  header #hamburger {
    z-index: 400;
    display: block;
    cursor: pointer;
  }
  header #hamburger .bar {
    display: block;
    background-color: black;
    border-radius: 2px;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
  }
  header .hamburger-active .bar:nth-child(2) {
    opacity: 0;
  }
  header .hamburger-active .bar:nth-child(1) {
    opacity: 1;
    transform: translateY(8px) rotate(45deg);
  }
  header .hamburger-active .bar:nth-child(3) {
    opacity: 1;
    transform: translateY(-8px) rotate(-45deg);
  }
  header .drop-down {
    left: 2px;
    right: 2px;
  }
  header .drop-down a {
    background-color: rgba(216, 216, 216, 0.147);
  }
}

#scroll-to-top {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
#scroll-to-top::before {
  content: "";
  display: block;
  height: 101vh;
  pointer-events: none;
}
#scroll-to-top a {
  position: sticky;
  z-index: 1000;
  top: 90vh;
  margin-right: 30px;
  cursor: pointer;
  font-size: 20px;
  display: block;
  border-radius: 25%;
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 450px) {
  #scroll-to-top a {
    top: 85vh;
  }
}
#scroll-to-top a span {
  background-color: white;
  width: 20px;
  height: 2.5px;
  display: block;
  position: absolute;
  top: 48%;
  box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.5);
}
#scroll-to-top a .left-span {
  right: 38%;
  transform: rotate(-55deg);
}
#scroll-to-top a .right-span {
  left: 38%;
  transform: rotate(55deg);
}