@import "../_components/general";

body {
    width: 100vw;
    background-image: url(../_assets/images/background-images/polygon-scatter-haikei1.svg);
    background-repeat: repeat;
    background-size: 200vw 355vw;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(rem(20));
}

main {
    margin: rem(20) rem(50) rem(0) rem(60);
    padding-bottom: rem(30);
    font-size: rem(20);

    #h1-broken-up {
        display: none;
    }

    h1 {
        font-size: rem(50);
        padding: rem(0) rem(0) rem(20);
        margin-left: rem(-20);
    }

    p {
        margin: rem(15) 0;
        font-weight: 500;
    }

    ol {
        list-style: decimal;
        counter-reset: item;
    }
    li {
        margin-top: rem(50);
        font-weight: 700;
        display: block;

        ol {
            margin-left: rem(50);

            li {
                ol {
                    li{
                        font-weight: 500;
                    }
                }
            }
        }
    }

    li:before {
        content: counters(item, ".") ". ";
        counter-increment: item;
    }

    .li-fw-500 {
        li {
            font-weight: 500;
        }
        margin-bottom: rem(30);
    }
}

@media screen and (max-width: rem(700)) {
    main {
        margin-left: 0;
        margin-right: rem(20);

        #h1-normal {
            display: none;
        }

        #h1-broken-up {
            display: block;
            font-size: rem(40);
        }

        h1 {
            margin-left: 0;
            width: 100vw;
            text-align: center;
        }

        p, ol {
            margin-left: rem(20);
        }

        ol {
            p, li, ol {
                margin-left: 0;
            }
        }
    }
}