@import "../_components/general";

body {
    width: 100vw;
    background-image: url(../_assets/images/background-images/polygon-scatter-haikei1.svg);
    background-repeat: none;
    background-size: cover;
    background-color: rgb(255, 255, 255);
}

header {
    // background-color: transparent;
    border-radius: 0 0 rem(20) rem(20);
    box-shadow: 0 0 rem(2) rem(2) rgba(204, 204, 204, 0.525);
    overflow: visible;
}

main {
    width: 100%;
    padding: rem(20) 0 rem(100) 0;
    font-size: rem(20);

    h1 {
        font-size: rem(50);
        padding: rem(20) rem(0) rem(10);
        width: 100%;
        text-align: center;
        margin-top: rem(-35);
        background-color: white;
        border-radius: 0 0 rem(20) rem(20);
        box-shadow: 0 0 rem(2) rem(2) rgba(204, 204, 204, 0.525);
    }

    section {
        margin: rem(206.25) 10%;
        margin-bottom: rem(9.375);

        .img-box {
            height: 30vw;
            width: 30vw;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            img {
                z-index: 3;
                height: 28vw;
                width: 28vw;
                object-fit: cover;
                border-radius: rem(20);
                overflow: hidden;
            }
        }

        .content {
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: var(--secondary-color);
            color: white;
            height: 35vw;
            border-radius: rem(10);
            margin-left: -15vw;
            padding-left: -15vw;

            h2, h3, p {
                margin-left: 17vw;
                margin-right: 5vw;
            }

            h2 {
                color: white;
                font-size: rem(37.5);
            }

            h3 {
                color: rgb(200, 200, 200);
                font-size: rem(28.125);
            }

            p {
                margin-top: rem(12.5);
                color: rgb(196, 196, 196);
                font-size: rem(21.875);

                a {
                    color: inherit;
                    transition: color 0.2s;

                    &:hover {
                        color: white;
                        transition: color 0.2s;
                    }
                }
            }
        }

        @media screen and (max-width: rem(1400)) {
            flex-direction: column;
            margin: rem(62.5) 10%;
            position: relative;

            .img-box {
                position: absolute;
                top: 3vw;
                height: auto;
                width: auto;

                &::after {
                    top: 0;
                    left: 0;
                    height: 40vw;
                    width: 50vw;
                    object-position: top;
                }

                img {
                    height: 40vw;
                    width: 50vw;
                    object-position: top;
                }
            }

        .content {
            justify-content: center;
            height: auto;
            margin-left: 0;
            margin-top: 15vw;
            padding: 33vw 16vw 10vw;
            min-width: rem(180);

            h2, h3, p {
                margin-left: 0;
                margin-right: 0;
            }

            h2 {
                font-size: rem(37.5);
            }

            h3 {
                font-size: rem(28.125);
            }

            p {
                margin-top: rem(12.5);
                font-size: rem(21.875);
            }
        }

        }

        @media screen and (max-width: rem(600)) {
            .content {
                h2 {
                    font-size: rem(34.375);
                }
                h3 {
                    font-size: rem(21.875);
                }
                p {
                    font-size: rem(18.75);
                }
            }
        }
    }
}