@import "../_components/general";

main {
    height: 87vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: rem(20);
    padding: rem(50) 0;
    background-color: var(--secondary-color);
    border-radius: rem(30);
    color: white;
}

#thank-you-text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h1 {
        font-size: rem(50);
    }
    h2 {
        font-size: rem(35);
    }
}

#thank-you-btn-div {
    margin-top: rem(40);
    button {
        font-size: rem(30);
        font-weight: 500;
        color: var(--secondary-color);
        padding: rem(10);
        background-color: white;
        border: rem(2) solid rgb(55, 54, 54);
        border-radius: rem(30);
        box-shadow: rem(3) rem(3) rem(10) grey;
        cursor: pointer;
    }

    button:hover {
        box-shadow: rem(3) rem(3) rem(15) black;
    }
}