@import "../_components/general";

#beratung-section, #hardware-section, #software-section, #wartung-section {
    @media screen {
        background-color: white;
        color: var(--secondary-color);

        .picture-title {
            border-radius: rem(100);
            width: 40%;
            max-width: rem(670);
            margin: rem(50) 2% rem(50) 8%;
            display: flex;
            position: relative;
            text-align: center;
            align-items: center;
            height: rem(450);
            overflow: hidden;
            box-shadow: rem(0) rem(0) rem(5) rem(1) rgba(0, 0, 0, 0.5);

            .img-box {
                z-index: 1;
                width: 100%;
                overflow: hidden;
                
                .overlay {
                    z-index: 2;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background-color: var(--secondary-color);
                    opacity: 40%;
                }

                img {
                    width: 100%;
                    height: fit-content;
                }
            }

            h1 {
                position: absolute;
                font-size: rem(70);
                width: 96%;
                padding: 0 2%;
                color: white;
                //text-shadow: rem(5) rem(5) rem(5) var(--secondary-color);
                z-index: 3;
                // margin-right: rem(50);
            }
        }

        .content {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            p {
                // margin-left: rem(50);
                width: rem(500);
                font-size: rem(18);
            }
        }
    }

    @media screen and (max-width: rem(1500)) {
        .picture-title {
            h1 {
                font-size: rem(50);
            }
        }
    }

    @media screen and (max-width: rem(1150)) {
        display: flex;
        flex-wrap: wrap;
        position: relative;

        .picture-title {
            height: rem(600);
            width: 90%;
            margin: rem(50) 5% rem(50) 5%;
            align-items: flex-start;
            h1 {
                font-size: rem(50);
                margin-top: rem(40);
            }

            .img-box {
                .overlay {
                    opacity: 60%;
                }
            }
        }

        .content {
            width: 100%;
            max-width: rem(670);
            margin-left: 0;
            margin-right: 0;
            margin-top: rem(50);
            position: absolute;
            text-align: center;

            p {
                width: 80%;
                z-index: 3;
                color: white;
            }
        }
    }

    @media screen and (max-width: rem(700)) {
        .picture-title {
            height: rem(650);
            width: 90%;
            margin: rem(50) 5% rem(50) 5%;
            
            .img-box {
                img {
                    height: rem(640);
                    width:max-content;
                }
            }
            
            h1 {
                font-size: rem(40);
            }
        }

        .content {
            width: 90%;
            margin-top: rem(50);

            p {
                width: 80%;
                font-size: rem(15);
            }
        }
    }
}

#hardware-section, #wartung-section {
    background-color: var(--secondary-color);
    color: white;
    @media screen {
        .content {
            align-items: flex-end;

            p {
                text-align: right;
                margin-left: 0;
                margin-right: rem(50);
            }
        }

        .picture-title {
            margin: rem(50) 8% rem(50) 2%;
            box-shadow: rem(0) rem(0) rem(5) rem(1) rgba(0, 0, 0, 0.5);
            
        }
    }

    @media screen and (max-width: rem(1150)) {
        flex-wrap: wrap-reverse;
        .content {
            align-items: center;

            p{
                text-align: center;
                margin-right: 0;
            }
        }

        .picture-title {
            margin: rem(50) 5% rem(50) 5%;
        }
    }
}

#beratung-section, #software-section {
    @media screen and (max-width: rem(500)) {
        .content {
            p {
                text-align: center;
                font-size: rem(13.5);
                margin-left: 5%;
            }
        }
    }

}

#beratung-section {
    padding-top: rem(15);

    background-image: url("../_assets/images/background-images/visitenkarte-hintergrund-180deg.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#software-section {
    background-image: url("../_assets/images/background-images/yellow-white-half.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: rem(1150)) {
        .content {
            margin-top: rem(100);
        }
    }

    @media screen and (max-width: rem(400)) {
        .picture-title {
            h1 {
                font-size: rem(33);
            }
        }
    }
}

#angebot-section {
    @media screen {

        padding: rem(50);
        padding-bottom: rem(70);
        background-image: url("../_assets/images/background-images/visitenkarte-hintergrund.png");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;


        article {
            display: flex;
            flex-direction: column;
            width: 50%;
            justify-content:start;
            align-items: center;

            h2 {
                color: var(--secondary-color);
                //text-shadow: rem(0) rem(0) rem(8) black;
                font-size: rem(40);
                height: rem(120);
                text-align: center;
                margin-bottom: rem(20);
                z-index: 100;

            }

            ul {
                color: var(--secondary-color);
                background-color: white;
                box-shadow: rem(0) rem(0) rem(5) rem(0.5) rgba(0, 0, 0, 0.5);
                border-radius: rem(100);
                width: 80%;
                min-height: rem(330);
                padding: rem(50);
                padding-top: rem(60);
                font-size: rem(15);

                li {
                    margin-left: rem(60);
                    margin-right: rem(40);
                    width: 80%;
                    margin-bottom: rem(10);
                }
            }
        }
    }

    @media screen and (max-width: rem(1250)) {
        background-image: url("../_assets/images/background-images/visitenkarte-hintergrund-90deg.png");
        background-position: center;
        display: flex;
        flex-direction: column;

        article {

            width: 80%;

            h2 {
                font-size: rem(25);
                height: auto;
            }

            ul {
                padding: rem(25);
                padding-top: rem(35);
                border-radius: rem(50);
                margin-bottom: rem(50);
                li {
                    margin-left: rem(25);
                }
            }
        }
    }

    @media screen and (max-width: rem(500)) {
        article {
            width: 90%;
            h2 {
                font-size: rem(18);
            }
        }

    }

}

#wartung-section {
    @media screen and (max-width: rem(720)) {
        padding-bottom: rem(25);        
    }
}

#page-seperator {
    width: 100%;
    height: rem(100);
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;

    #arrow-down {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto rem(20);
        height: rem(40);
        width: rem(40);
        border: rem(4) solid whitesmoke;
        border-radius: rem(30);

        #arrow-left-side, #arrow-right-side {
            display: block;
            width: rem(20);
            height: rem(4);
            background-color: whitesmoke;
        }
    
        #arrow-left-side {
            rotate: 45deg;
            margin-right: rem(-4);
        }
    
        #arrow-right-side {
            rotate: -45deg;
            margin-left: rem(-4);
        }
    }



    #text-left-side, #text-right-side {
        color: white;
        font-size: rem(40);
    }

    @media screen and (max-width: rem(700)) {
        #text-left-side, #text-right-side {
            font-size: rem(30);
        }
    }

    @media screen and (max-width: rem(600)) {
        #text-left-side, #text-right-side {
            font-size: rem(25);
        }
    }

    @media screen and (max-width: rem(500)) {
        height: rem(150);
        padding-top: rem(15);
        padding-bottom: rem(15);
        flex-direction: column;
    }


}
