@import "../_components/general";

body {
  @media screen {
    background-image: url("../_assets/images/background-images/visitenkarte-hintergrund.png");
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
  }

  @media screen and (max-width: rem(500)) {
    background-image: url("../_assets/images/background-images/visitenkarte-hintergrund-90deg.png");
		background-position: center;    
  }
}

#contact-heading {
  @media screen {
    display: block;

    h1 {
      margin-left: rem(60);
      font-size: rem(60);
      color: rgb(55, 54, 54);
    }
  }
  
  @media screen and (max-width: rem(500)) {
    h1 {
      margin: 0;
      text-align: center;
    }
  }
}

#contact-form {
  @media screen {
    display: block;
    position: relative;
    form {
      width: 85%;
      margin: rem(20) rem(60);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .text-input {
        display: block;
        margin-bottom: rem(20);
        padding: rem(20) rem(5) rem(7) rem(7);
        font-size: rem(17);
        border: none;
        border-bottom: rem(1) solid;
        border-color: black;
        border-top-left-radius: rem(5);
        border-top-right-radius: rem(5);
        background-color: rgba(121, 118, 118, 0.056);
        outline: none;
      }

      .text-input::placeholder {
        color: rgb(55, 54, 54);
        opacity: 100%;
      }

      .bottom-bar-show {
        position: absolute;
        display: block;
        background-color: var(--main-color);
        height: rem(3);
        width: 0%;
        animation: bottomBarShow 0.8s forwards ease-out;
      }

      @keyframes bottomBarShow {
        from {
          width: 0%;
        }

        to {
          width: 85%
        }
      }

      h2 {
        font-weight: 500;
        font-size: rem(17);
        color: rgb(55, 54, 54);
        margin-top: rem(3);
        margin-bottom: rem(12);
      }

      div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: rem(20);

        span {
          display: flex;
          align-items: center;

          input {
            margin-right: rem(5);
            accent-color: var(--main-color);
          }
  
          h3 {
            font-weight: 500;
            font-size: rem(17);
            color: rgb(55, 54, 54);
            margin-right: rem(15);
          }
        }


      }

      textarea {
        max-height: rem(280);
        padding: rem(20) rem(5) rem(7) rem(7);
        font-size: rem(17);
        border: none;
        border-radius: rem(5);
        background-color: white;
        box-shadow: rem(0) rem(0) rem(10) rem(5) rgba(59, 59, 59, 0.085);
        outline: none;
      }

      textarea::placeholder {
        color: rgb(55, 54, 54);
        opacity: 100%;
      }

      #privacy-agreement {
        margin-top: rem(20);
        display: grid;
        grid-template-columns: rem(45) auto;

        input {
          height: rem(20);
          margin-right: rem(25);
          accent-color: rgb(55, 54, 54);
          align-self: flex-start;
          margin-top: rem(10);
        }

        p {
          font-weight: 500;
          font-size: rem(17);
          color: rgb(55, 54, 54);
          margin-right: rem(15);

          a {
            text-decoration: none;
            color: rgb(139, 131, 131);
          }
        }
      }

      #send-btn {
        font-size: rem(17);
        font-weight: 500;
        color: rgb(55, 54, 54);
        margin-top: rem(20);
        padding: rem(10);
        width: rem(112);
        background-color: transparent;
        border: rem(2) solid rgb(55, 54, 54);
        border-radius: rem(30);
      }

      #send-btn:hover {
        background-color: rgb(55, 54, 54);
        color: white;
        cursor: pointer;
      }
    }
    padding-bottom: rem(50);
  }

  @media screen and (max-width: rem(500)) {
    form {
      margin: 0;
      width: 100%;
      align-items: center;

      .text-input {
        width: 80%;
        background-color: rgba(30, 30, 30, 0.062);
      }

      h2 {
        text-align: center;
        margin: rem(10) rem(20);
        font-size: rem(20);
        font-weight: 700;
      }

      div {
        display: block;
        width: 80%;

        span {
          margin: rem(8) 0 rem(8) 0;

          input {
            align-self: flex-start;
            margin-top: rem(6);
          }
        }
      }

      textarea {
        width: 80%;
      }

      #privacy-agreement {
        width: 80%;
      }
    }
  }
}
