@import "../_components/general";

body {
    @media screen {
        background-image: url("../_assets/images/background-images/visitenkarte-hintergrund.png");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media screen and (max-width: rem(500)) {
        background-image: url("../_assets/images/background-images/visitenkarte-hintergrund-90deg.png");
        background-position: center;
    }
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -rem(40);
    height: clamp(rem(600), calc(100vh - rem(80)), 100vh);
    padding-bottom: rem(60);

    h2 {
        font-size: rem(30);
        text-align: center;
        margin: 0 rem(20);
    }

    a {
        text-align: center;
        text-decoration: none;
        font-size: rem(17);
        font-weight: 500;
        color: rgb(55, 54, 54);
        margin-top: rem(40);
        padding: rem(10);
        background-color: transparent;
        border: rem(2) solid rgb(55, 54, 54);
        border-radius: rem(30);
        transition: all 0.2s ease;
    }

    a:hover {
        background-color: rgb(55, 54, 54);
        color: white;
        cursor: pointer;
    }
}

#scroll-to-top {
    display: none;
}