@import "../_components/general";

header {
    border-bottom: rem(7) solid var(--main-color);
}

main {
    padding: rem(20);
    padding-top: 0;
    margin-top: 0;
    padding-bottom: rem(20);
    font-size: rem(14);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);

    h1 {
        font-size: rem(50);
        padding: rem(20) rem(20);
        margin: rem(10) rem(-20) rem(20) rem(-20);
        text-align: center;

        color: white;
        background-color: var(--secondary-color);
        border-left: 0;
        border-right: 0;
        width: 100%;
    }

    .ref-with-text {
        display: grid;
        grid-template-columns: 1fr 1fr;

        //border: rem(3) solid #1b61a7;
        border: rem(7) solid var(--main-color);
        border-radius: rem(40);
        overflow: hidden;

        max-width: rem(1500);
        height: rem(200);
        margin: rem(20) 0;

        background-color: white;

        .logo {
            justify-content: center;
            text-align: center;
            
            img {
                height: rem(130);
                transition: height 0.15s;
            }

            img:hover {
                height: rem(140);
            }

            a {
                text-decoration: none;
                font-size: rem(30);
                transition: font-size 0.15s;
                color: var(--secondary-color);
            }

            a:hover {
                font-size: rem(35);
            }
        }

        .refrence-text {
            height: 100%;
            line-height: inherit;
            background-color: var(--main-color);
            //background-color: #1b61a7;
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                margin: rem(20);
                color: black;

                .line-break {
                    display: none;
                }
            }
        }
    }

    @media screen and (max-width: rem(1230)) {

        .ref-with-text {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            width: rem(600);
            height: rem(600);
            border-radius: rem(300);

            .logo {
                h2 {
                    margin-bottom: rem(-100);
                }
            }
    
            .refrence-text {
                text-align: center;

                p {
                    text-align: center;
                    margin-top: rem(-20);

                    .line-break {
                        display: block;
                    }
                }
            }
        }

        :nth-child(2) {
            .logo {
                img {
                    margin-bottom: rem(-100);
                }
            }
        }

        :nth-child(3) {
            .logo {
                order: -1;
                img {
                    margin-bottom: rem(-50);
                    height: rem(170);
                }

                img:hover {
                    height: rem(190);
                }
            }

            .refrence-text {
                order: 1;

                p {
                    margin-top: rem(-100);
                }
            }
        }
    }

    @media screen and (max-width: rem(700)) {
        .ref-with-text {
            width: rem(300);
            height: rem(900);
            border-radius: rem(150);
        }

        :nth-child(2) {
            .logo {
                img {
                    margin-bottom: rem(-50);
                    height: auto;
                    width: rem(250);
                    transition: width 0.15s;
                }

                img:hover {
                    height: auto;
                    width: rem(270);
                }
            }
        }
    }

    #ref-no-text {
        /*general*/
        @media screen {
            width: 100%;
            font-size: rem(10);
            flex-direction: column;
            margin: rem(50) auto;
    
            a {
                text-decoration: none;
            }
    
            a:hover {
                text-decoration: underline;
                text-decoration-color: white;
            }
    
            h1 {
                font-size: rem(50);
                color: white;
                margin: rem(40) 0;
            }
    
            #scroll-container {
                width: 100%;
                height: rem(100);
                padding: rem(40) 0;
                border-style: solid;
                border-color: white;
                border-radius: rem(15);
                overflow: hidden;
                background-color: white;
                position: relative;
    
                .scroll-logos {
                    position: absolute;
                    height: rem(115);
                    display: flex;
                    left: 100%;
                    top: rem(40);
                    overflow: hidden;
                    white-space: nowrap;
                    align-items: center;
                    animation: scroll-logos 25s infinite linear;
    
                    img {
                        height: rem(100);
                        padding: 0 rem(50);
                        transition: transform 0.2s;
                    }

                    img:hover {
                        transform: scale(1.1);
                    }
                }
                
                .scroll-logos2 {
                    animation-delay: 12.5s;
                }
    
                @keyframes scroll-logos {
                    to {
                        transform: translateX(-200%);
                    }
                }
            }
        }
    
        /*xtra-small*/
        @media screen and (max-width: rem(480)) {
            #scroll-container {
                width: 80%;
                padding: rem(20);
                border-style: solid;
                border-color: white;
                border-radius: rem(10);
                overflow: hidden;
                background-color: white;
    
                .scroll-logos {
                    top: rem(20);
                    img {
                        height: rem(60);
                    }

                    img:hover {
                        transform: scale(1.15);
                    }
                } 
            }
        }
    }
}