:root {
  --main-color: rgb(255, 202, 1);
  --secondary-color: rgb(40, 40, 40);
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif, Arial, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section, .flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

body {
  min-height: 100vh;
  position: relative;
}

@media screen {
  #beratung-section, #hardware-section, #software-section, #wartung-section {
    background-color: white;
    color: var(--secondary-color);
  }
  #beratung-section .picture-title, #hardware-section .picture-title, #software-section .picture-title, #wartung-section .picture-title {
    border-radius: 100px;
    width: 40%;
    max-width: 670px;
    margin: 50px 2% 50px 8%;
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    height: 450px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  }
  #beratung-section .picture-title .img-box, #hardware-section .picture-title .img-box, #software-section .picture-title .img-box, #wartung-section .picture-title .img-box {
    z-index: 1;
    width: 100%;
    overflow: hidden;
  }
  #beratung-section .picture-title .img-box .overlay, #hardware-section .picture-title .img-box .overlay, #software-section .picture-title .img-box .overlay, #wartung-section .picture-title .img-box .overlay {
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    opacity: 40%;
  }
  #beratung-section .picture-title .img-box img, #hardware-section .picture-title .img-box img, #software-section .picture-title .img-box img, #wartung-section .picture-title .img-box img {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  #beratung-section .picture-title h1, #hardware-section .picture-title h1, #software-section .picture-title h1, #wartung-section .picture-title h1 {
    position: absolute;
    font-size: 70px;
    width: 96%;
    padding: 0 2%;
    color: white;
    z-index: 3;
  }
  #beratung-section .content, #hardware-section .content, #software-section .content, #wartung-section .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #beratung-section .content p, #hardware-section .content p, #software-section .content p, #wartung-section .content p {
    width: 500px;
    font-size: 18px;
  }
}
@media screen and (max-width: 1500px) {
  #beratung-section .picture-title h1, #hardware-section .picture-title h1, #software-section .picture-title h1, #wartung-section .picture-title h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 1150px) {
  #beratung-section, #hardware-section, #software-section, #wartung-section {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  #beratung-section .picture-title, #hardware-section .picture-title, #software-section .picture-title, #wartung-section .picture-title {
    height: 600px;
    width: 90%;
    margin: 50px 5% 50px 5%;
    align-items: flex-start;
  }
  #beratung-section .picture-title h1, #hardware-section .picture-title h1, #software-section .picture-title h1, #wartung-section .picture-title h1 {
    font-size: 50px;
    margin-top: 40px;
  }
  #beratung-section .picture-title .img-box .overlay, #hardware-section .picture-title .img-box .overlay, #software-section .picture-title .img-box .overlay, #wartung-section .picture-title .img-box .overlay {
    opacity: 60%;
  }
  #beratung-section .content, #hardware-section .content, #software-section .content, #wartung-section .content {
    width: 100%;
    max-width: 670px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    position: absolute;
    text-align: center;
  }
  #beratung-section .content p, #hardware-section .content p, #software-section .content p, #wartung-section .content p {
    width: 80%;
    z-index: 3;
    color: white;
  }
}
@media screen and (max-width: 700px) {
  #beratung-section .picture-title, #hardware-section .picture-title, #software-section .picture-title, #wartung-section .picture-title {
    height: 650px;
    width: 90%;
    margin: 50px 5% 50px 5%;
  }
  #beratung-section .picture-title .img-box img, #hardware-section .picture-title .img-box img, #software-section .picture-title .img-box img, #wartung-section .picture-title .img-box img {
    height: 640px;
    width: -moz-max-content;
    width: max-content;
  }
  #beratung-section .picture-title h1, #hardware-section .picture-title h1, #software-section .picture-title h1, #wartung-section .picture-title h1 {
    font-size: 40px;
  }
  #beratung-section .content, #hardware-section .content, #software-section .content, #wartung-section .content {
    width: 90%;
    margin-top: 50px;
  }
  #beratung-section .content p, #hardware-section .content p, #software-section .content p, #wartung-section .content p {
    width: 80%;
    font-size: 15px;
  }
}

#hardware-section, #wartung-section {
  background-color: var(--secondary-color);
  color: white;
}
@media screen {
  #hardware-section .content, #wartung-section .content {
    align-items: flex-end;
  }
  #hardware-section .content p, #wartung-section .content p {
    text-align: right;
    margin-left: 0;
    margin-right: 50px;
  }
  #hardware-section .picture-title, #wartung-section .picture-title {
    margin: 50px 8% 50px 2%;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  }
}
@media screen and (max-width: 1150px) {
  #hardware-section, #wartung-section {
    flex-wrap: wrap-reverse;
  }
  #hardware-section .content, #wartung-section .content {
    align-items: center;
  }
  #hardware-section .content p, #wartung-section .content p {
    text-align: center;
    margin-right: 0;
  }
  #hardware-section .picture-title, #wartung-section .picture-title {
    margin: 50px 5% 50px 5%;
  }
}

@media screen and (max-width: 500px) {
  #beratung-section .content p, #software-section .content p {
    text-align: center;
    font-size: 13.5px;
    margin-left: 5%;
  }
}

#beratung-section {
  padding-top: 15px;
  background-image: url("../_assets/images/background-images/visitenkarte-hintergrund-180deg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#software-section {
  background-image: url("../_assets/images/background-images/yellow-white-half.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1150px) {
  #software-section .content {
    margin-top: 100px;
  }
}
@media screen and (max-width: 400px) {
  #software-section .picture-title h1 {
    font-size: 33px;
  }
}

@media screen {
  #angebot-section {
    padding: 50px;
    padding-bottom: 70px;
    background-image: url("../_assets/images/background-images/visitenkarte-hintergrund.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #angebot-section article {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: start;
    align-items: center;
  }
  #angebot-section article h2 {
    color: var(--secondary-color);
    font-size: 40px;
    height: 120px;
    text-align: center;
    margin-bottom: 20px;
    z-index: 100;
  }
  #angebot-section article ul {
    color: var(--secondary-color);
    background-color: white;
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    width: 80%;
    min-height: 330px;
    padding: 50px;
    padding-top: 60px;
    font-size: 15px;
  }
  #angebot-section article ul li {
    margin-left: 60px;
    margin-right: 40px;
    width: 80%;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1250px) {
  #angebot-section {
    background-image: url("../_assets/images/background-images/visitenkarte-hintergrund-90deg.png");
    background-position: center;
    display: flex;
    flex-direction: column;
  }
  #angebot-section article {
    width: 80%;
  }
  #angebot-section article h2 {
    font-size: 25px;
    height: auto;
  }
  #angebot-section article ul {
    padding: 25px;
    padding-top: 35px;
    border-radius: 50px;
    margin-bottom: 50px;
  }
  #angebot-section article ul li {
    margin-left: 25px;
  }
}
@media screen and (max-width: 500px) {
  #angebot-section article {
    width: 90%;
  }
  #angebot-section article h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 720px) {
  #wartung-section {
    padding-bottom: 25px;
  }
}

#page-seperator {
  width: 100%;
  height: 100px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
#page-seperator #arrow-down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 20px;
  height: 40px;
  width: 40px;
  border: 4px solid whitesmoke;
  border-radius: 30px;
}
#page-seperator #arrow-down #arrow-left-side, #page-seperator #arrow-down #arrow-right-side {
  display: block;
  width: 20px;
  height: 4px;
  background-color: whitesmoke;
}
#page-seperator #arrow-down #arrow-left-side {
  rotate: 45deg;
  margin-right: -4px;
}
#page-seperator #arrow-down #arrow-right-side {
  rotate: -45deg;
  margin-left: -4px;
}
#page-seperator #text-left-side, #page-seperator #text-right-side {
  color: white;
  font-size: 40px;
}
@media screen and (max-width: 700px) {
  #page-seperator #text-left-side, #page-seperator #text-right-side {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  #page-seperator #text-left-side, #page-seperator #text-right-side {
    font-size: 25px;
  }
}
@media screen and (max-width: 500px) {
  #page-seperator {
    height: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    flex-direction: column;
  }
}