:root {
  --main-color: rgb(255, 202, 1);
  --secondary-color: rgb(40, 40, 40);
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif, Arial, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section, .flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

body {
  min-height: 100vh;
  position: relative;
}

header {
  /*general*/
  /*small*/
}
@media screen {
  header {
    transition: all 0.5s;
    background-color: white;
    position: relative;
    height: 5rem;
  }
  header #logo {
    position: absolute;
    top: 0.625rem;
    right: 1.25rem;
    height: 70%;
    z-index: 100;
  }
  header #contact-links {
    position: absolute;
    top: 0rem;
    left: 1.25rem;
    display: flex;
    flex-direction: column;
    margin-top: 0.625rem;
  }
  header #contact-links a {
    text-decoration: none;
    color: rgb(51, 50, 50);
    font-size: 0.875rem;
    font-weight: 500;
    padding-bottom: 0.3125rem;
  }
  header #contact-links a img {
    filter: invert(14%) sepia(25%) saturate(10%) hue-rotate(10deg) brightness(100%) contrast(87%);
    height: 0.875rem;
    margin-right: 0.25rem;
    margin-bottom: -0.15625rem;
  }
  header #contact-links a:hover {
    color: var(--main-color);
  }
  header #contact-links a:hover img {
    filter: invert(67%) sepia(94%) saturate(727%) hue-rotate(0deg) brightness(105%) contrast(103%);
  }
  header #leistungen-link-small {
    display: none;
  }
}
@media screen and (pointer: coarse) {
  header #leistungen-link {
    display: none;
  }
  header #leistungen-link-small {
    display: inline-block;
  }
}
@media screen {
  header .nav-bar a {
    margin: 0 0.125rem;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(26, 26, 26);
    background-color: white;
    padding: 0.5rem 1.25rem;
    border: 0.0625rem solid rgba(255, 200, 1, 0);
    cursor: pointer;
  }
  header .nav-bar a:hover,
  header .nav-bar .active-hover {
    border: 0.0625rem solid lightgrey;
  }
  header .nav-bar .active-page {
    border: 0.0625rem solid var(--main-color);
  }
  header .drop-down {
    z-index: 300;
    position: absolute;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(1fr);
    background-color: white;
    border: 0.0625rem solid lightgrey;
  }
  header .drop-down a {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(26, 26, 26);
    background-color: white;
    padding: 0.5rem 1.25rem;
    border: 0.0625rem solid rgba(255, 200, 1, 0);
    cursor: pointer;
  }
  header .drop-down a:hover {
    border: 0.0625rem solid lightgrey;
  }
  header .drop-down .seperator {
    border-bottom: 0.0625rem solid lightgray;
  }
  header .drop-down .active-page {
    border: 0.0625rem solid var(--main-color);
  }
  header #hamburger {
    display: none;
  }
}
@media screen and (max-width: 64rem) {
  header #contact-links {
    margin-top: 0.625rem;
    left: 0.625rem;
    align-items: center;
  }
  header #contact-links a img {
    height: 1.25rem;
  }
  header #contact-links a span {
    display: none;
  }
}
@media screen and (max-width: 48rem) {
  header {
    height: 3.125rem;
  }
  header #contact-links {
    flex-direction: row;
    margin-top: 0.9375rem;
  }
  header #contact-links a {
    margin-right: 0.625rem;
  }
  header .nav-bar {
    top: -13.4375rem;
    z-index: 200;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }
  header .nav-bar-active {
    top: 3.125rem;
  }
  header #hamburger {
    z-index: 400;
    display: block;
    cursor: pointer;
  }
  header #hamburger .bar {
    display: block;
    background-color: black;
    border-radius: 0.125rem;
    width: 1.5625rem;
    height: 0.1875rem;
    margin: 0.3125rem auto;
    transition: all 0.3s ease-in-out;
  }
  header .hamburger-active .bar:nth-child(2) {
    opacity: 0;
  }
  header .hamburger-active .bar:nth-child(1) {
    opacity: 1;
    transform: translateY(0.5rem) rotate(45deg);
  }
  header .hamburger-active .bar:nth-child(3) {
    opacity: 1;
    transform: translateY(-0.5rem) rotate(-45deg);
  }
  header .drop-down {
    left: 0.125rem;
    right: 0.125rem;
  }
  header .drop-down a {
    background-color: rgba(216, 216, 216, 0.147);
  }
}

#scroll-to-top {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
#scroll-to-top::before {
  content: "";
  display: block;
  height: 101vh;
  pointer-events: none;
}
#scroll-to-top a {
  position: sticky;
  z-index: 1000;
  top: 90vh;
  margin-right: 1.875rem;
  cursor: pointer;
  font-size: 1.25rem;
  display: block;
  border-radius: 25%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--main-color);
  box-shadow: 0.0625rem 0.0625rem 0.3125rem 0.125rem rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 28.125rem) {
  #scroll-to-top a {
    top: 85vh;
  }
}
#scroll-to-top a span {
  background-color: white;
  width: 1.25rem;
  height: 0.15625rem;
  display: block;
  position: absolute;
  top: 48%;
  box-shadow: 0 0 0.3125rem 0.03125rem rgba(0, 0, 0, 0.5);
}
#scroll-to-top a .left-span {
  right: 38%;
  transform: rotate(-55deg);
}
#scroll-to-top a .right-span {
  left: 38%;
  transform: rotate(55deg);
}

footer {
  /*general*/
  /*small*/
}
@media screen {
  footer {
    position: absolute;
    bottom: -2.9375rem;
    left: 0;
    right: 0;
    padding: 0.9375rem 1.25rem;
    background-color: var(--main-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    color: black;
  }
  footer a {
    margin: 0 1.25rem;
    color: black;
    text-decoration: none;
  }
  footer a:hover {
    text-decoration: underline;
  }
  footer p {
    position: absolute;
    right: 1.25rem;
  }
}
@media screen and (max-width: 52.5rem) {
  footer p {
    position: relative;
    margin: 0 1.25rem;
  }
}

@media screen {
  #beratung-section, #hardware-section, #software-section, #wartung-section {
    background-color: white;
    color: var(--secondary-color);
  }
  #beratung-section .picture-title, #hardware-section .picture-title, #software-section .picture-title, #wartung-section .picture-title {
    border-radius: 6.25rem;
    width: 40%;
    max-width: 41.875rem;
    margin: 3.125rem 2% 3.125rem 8%;
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    height: 28.125rem;
    overflow: hidden;
    box-shadow: 0rem 0rem 0.3125rem 0.0625rem rgba(0, 0, 0, 0.5);
  }
  #beratung-section .picture-title .img-box, #hardware-section .picture-title .img-box, #software-section .picture-title .img-box, #wartung-section .picture-title .img-box {
    z-index: 1;
    width: 100%;
    overflow: hidden;
  }
  #beratung-section .picture-title .img-box .overlay, #hardware-section .picture-title .img-box .overlay, #software-section .picture-title .img-box .overlay, #wartung-section .picture-title .img-box .overlay {
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    opacity: 40%;
  }
  #beratung-section .picture-title .img-box img, #hardware-section .picture-title .img-box img, #software-section .picture-title .img-box img, #wartung-section .picture-title .img-box img {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  #beratung-section .picture-title h1, #hardware-section .picture-title h1, #software-section .picture-title h1, #wartung-section .picture-title h1 {
    position: absolute;
    font-size: 4.375rem;
    width: 96%;
    padding: 0 2%;
    color: white;
    z-index: 3;
  }
  #beratung-section .content, #hardware-section .content, #software-section .content, #wartung-section .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #beratung-section .content p, #hardware-section .content p, #software-section .content p, #wartung-section .content p {
    width: 31.25rem;
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 93.75rem) {
  #beratung-section .picture-title h1, #hardware-section .picture-title h1, #software-section .picture-title h1, #wartung-section .picture-title h1 {
    font-size: 3.125rem;
  }
}
@media screen and (max-width: 71.875rem) {
  #beratung-section, #hardware-section, #software-section, #wartung-section {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  #beratung-section .picture-title, #hardware-section .picture-title, #software-section .picture-title, #wartung-section .picture-title {
    height: 37.5rem;
    width: 90%;
    margin: 3.125rem 5% 3.125rem 5%;
    align-items: flex-start;
  }
  #beratung-section .picture-title h1, #hardware-section .picture-title h1, #software-section .picture-title h1, #wartung-section .picture-title h1 {
    font-size: 3.125rem;
    margin-top: 2.5rem;
  }
  #beratung-section .picture-title .img-box .overlay, #hardware-section .picture-title .img-box .overlay, #software-section .picture-title .img-box .overlay, #wartung-section .picture-title .img-box .overlay {
    opacity: 60%;
  }
  #beratung-section .content, #hardware-section .content, #software-section .content, #wartung-section .content {
    width: 100%;
    max-width: 41.875rem;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3.125rem;
    position: absolute;
    text-align: center;
  }
  #beratung-section .content p, #hardware-section .content p, #software-section .content p, #wartung-section .content p {
    width: 80%;
    z-index: 3;
    color: white;
  }
}
@media screen and (max-width: 43.75rem) {
  #beratung-section .picture-title, #hardware-section .picture-title, #software-section .picture-title, #wartung-section .picture-title {
    height: 40.625rem;
    width: 90%;
    margin: 3.125rem 5% 3.125rem 5%;
  }
  #beratung-section .picture-title .img-box img, #hardware-section .picture-title .img-box img, #software-section .picture-title .img-box img, #wartung-section .picture-title .img-box img {
    height: 40rem;
    width: -moz-max-content;
    width: max-content;
  }
  #beratung-section .picture-title h1, #hardware-section .picture-title h1, #software-section .picture-title h1, #wartung-section .picture-title h1 {
    font-size: 2.5rem;
  }
  #beratung-section .content, #hardware-section .content, #software-section .content, #wartung-section .content {
    width: 90%;
    margin-top: 3.125rem;
  }
  #beratung-section .content p, #hardware-section .content p, #software-section .content p, #wartung-section .content p {
    width: 80%;
    font-size: 0.9375rem;
  }
}

#hardware-section, #wartung-section {
  background-color: var(--secondary-color);
  color: white;
}
@media screen {
  #hardware-section .content, #wartung-section .content {
    align-items: flex-end;
  }
  #hardware-section .content p, #wartung-section .content p {
    text-align: right;
    margin-left: 0;
    margin-right: 3.125rem;
  }
  #hardware-section .picture-title, #wartung-section .picture-title {
    margin: 3.125rem 8% 3.125rem 2%;
    box-shadow: 0rem 0rem 0.3125rem 0.0625rem rgba(0, 0, 0, 0.5);
  }
}
@media screen and (max-width: 71.875rem) {
  #hardware-section, #wartung-section {
    flex-wrap: wrap-reverse;
  }
  #hardware-section .content, #wartung-section .content {
    align-items: center;
  }
  #hardware-section .content p, #wartung-section .content p {
    text-align: center;
    margin-right: 0;
  }
  #hardware-section .picture-title, #wartung-section .picture-title {
    margin: 3.125rem 5% 3.125rem 5%;
  }
}

@media screen and (max-width: 31.25rem) {
  #beratung-section .content p, #software-section .content p {
    text-align: center;
    font-size: 0.84375rem;
    margin-left: 5%;
  }
}

#beratung-section {
  padding-top: 0.9375rem;
  background-image: url("../_assets/images/background-images/visitenkarte-hintergrund-180deg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#software-section {
  background-image: url("../_assets/images/background-images/yellow-white-half.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 71.875rem) {
  #software-section .content {
    margin-top: 6.25rem;
  }
}
@media screen and (max-width: 25rem) {
  #software-section .picture-title h1 {
    font-size: 2.0625rem;
  }
}

@media screen {
  #angebot-section {
    padding: 3.125rem;
    padding-bottom: 4.375rem;
    background-image: url("../_assets/images/background-images/visitenkarte-hintergrund.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #angebot-section article {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: start;
    align-items: center;
  }
  #angebot-section article h2 {
    color: var(--secondary-color);
    font-size: 2.5rem;
    height: 7.5rem;
    text-align: center;
    margin-bottom: 1.25rem;
    z-index: 100;
  }
  #angebot-section article ul {
    color: var(--secondary-color);
    background-color: white;
    box-shadow: 0rem 0rem 0.3125rem 0.03125rem rgba(0, 0, 0, 0.5);
    border-radius: 6.25rem;
    width: 80%;
    min-height: 20.625rem;
    padding: 3.125rem;
    padding-top: 3.75rem;
    font-size: 0.9375rem;
  }
  #angebot-section article ul li {
    margin-left: 3.75rem;
    margin-right: 2.5rem;
    width: 80%;
    margin-bottom: 0.625rem;
  }
}
@media screen and (max-width: 78.125rem) {
  #angebot-section {
    background-image: url("../_assets/images/background-images/visitenkarte-hintergrund-90deg.png");
    background-position: center;
    display: flex;
    flex-direction: column;
  }
  #angebot-section article {
    width: 80%;
  }
  #angebot-section article h2 {
    font-size: 1.5625rem;
    height: auto;
  }
  #angebot-section article ul {
    padding: 1.5625rem;
    padding-top: 2.1875rem;
    border-radius: 3.125rem;
    margin-bottom: 3.125rem;
  }
  #angebot-section article ul li {
    margin-left: 1.5625rem;
  }
}
@media screen and (max-width: 31.25rem) {
  #angebot-section article {
    width: 90%;
  }
  #angebot-section article h2 {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 45rem) {
  #wartung-section {
    padding-bottom: 1.5625rem;
  }
}

#page-seperator {
  width: 100%;
  height: 6.25rem;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
#page-seperator #arrow-down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 1.25rem;
  height: 2.5rem;
  width: 2.5rem;
  border: 0.25rem solid whitesmoke;
  border-radius: 1.875rem;
}
#page-seperator #arrow-down #arrow-left-side, #page-seperator #arrow-down #arrow-right-side {
  display: block;
  width: 1.25rem;
  height: 0.25rem;
  background-color: whitesmoke;
}
#page-seperator #arrow-down #arrow-left-side {
  rotate: 45deg;
  margin-right: -0.25rem;
}
#page-seperator #arrow-down #arrow-right-side {
  rotate: -45deg;
  margin-left: -0.25rem;
}
#page-seperator #text-left-side, #page-seperator #text-right-side {
  color: white;
  font-size: 2.5rem;
}
@media screen and (max-width: 43.75rem) {
  #page-seperator #text-left-side, #page-seperator #text-right-side {
    font-size: 1.875rem;
  }
}
@media screen and (max-width: 37.5rem) {
  #page-seperator #text-left-side, #page-seperator #text-right-side {
    font-size: 1.5625rem;
  }
}
@media screen and (max-width: 31.25rem) {
  #page-seperator {
    height: 9.375rem;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    flex-direction: column;
  }
}